<app-page-layout (signout)="onSignout()">
  <app-layout [conversationListItemTemplate]="conversationListItem" [conversationTemplate]="conversation"
    [conversationListContext]="authors$ | async">
  </app-layout>
</app-page-layout>

<ng-template #conversationListItem let-model>
  <app-authors [model]="model"></app-authors>
</ng-template>

<ng-template #conversation let-model>
  <app-dialogue [author]="currentAuthor$ | async"  [messages]="messages$ | async"
    (sendCommand)="sendCommand()" (sendMessage)="onSendMessage($event)" (showList)="model.showListSub.next()">
  </app-dialogue>
</ng-template>
