<ng-container *ngIf="{lat:model.lat,lng:model.lng} as position">
  <google-map>
    <map-marker
    [position]="position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
  >
  </map-marker>
  </google-map>
  </ng-container>