<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">Ottonova Coding Challenge</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="signout.emit($event)">
        <mat-icon aria-hidden="false" aria-label="sign out icon">exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  