<div #messsageWrapper class="messages-wrapper">
    <ng-container *ngFor="let message of messages">
      <mat-card class="message" [class.my]="message.originator === AuthorType.Client">
        <ng-container [ngSwitch]="message.payload.type">
          <mat-card-content class="message-content-wrapper">
            <ng-container *ngSwitchCase="CommandType.Message">{{message.payload.data}}</ng-container>
  
            <ng-container *ngSwitchCase="CommandType.Complete">
              <app-complete [id]="message.id" [buttons]="message.payload.data" (sendMessage)="sendMessage.emit($event)">
              </app-complete>
            </ng-container>
  
            <ng-container *ngSwitchCase="CommandType.Rate">
              <app-rate [id]="message.id" [model]="message.payload.data" (sendMessage)="sendMessage.emit($event)"></app-rate>
            </ng-container>
  
            <ng-container *ngSwitchCase="CommandType.Map">
              <app-map [model]="message.payload.data"></app-map>
            </ng-container>
  
            <ng-container *ngSwitchCase="CommandType.Date">
              <app-date [id]="message.id" [model]="message.payload.data" (sendMessage)="sendMessage.emit($event)"></app-date>
            </ng-container>
            <ng-container *ngSwitchDefault>{{message.payload | json}}</ng-container>
            <div class="ts">{{message.id | date: 'shortTime'}}</div>
          </mat-card-content>
        </ng-container>
      </mat-card>
    </ng-container>
  </div>
  