:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
  }
  
  .message {
    max-width: 40rem;
    margin: 0.25rem 0;
    align-self: flex-start;
  
    &.my {
      align-self: flex-end;
      background: #e8fbe8;
    }
  }
  
  .messages-wrapper {
    overflow: auto;
    max-height: 100%;
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    padding: 1rem;
  }
  
  .message-content-wrapper {
    display: flex;
  }
  
  .ts {
    font-size: 0.7rem;
    opacity: 0.45;
    align-self: flex-end;
    margin: 0.5rem 0px 0px 2rem;
  }
  