<div class="top-shift"></div>
<mat-card class="card">
  <form class="form">
    <mat-form-field class="form-field">
      <input matInput #login [required]="true" placeholder="Login">
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput #password [required]="true" placeholder="Password" type="password">
    </mat-form-field>
  </form>
  <button mat-flat-button color="primary" class="field submit" [disabled]="!login.value" (click)="onLoginClick(login.value)">Login</button>
</mat-card>
<div class="bottom-shift"></div>
