:host {
    position: fixed;
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .card {
    max-width: 24rem;
    width: 90%;
    padding: 2.5rem;
  
    display: flex;
    flex-direction: column;
  }
  
  .top-shift {
    flex: 1 1 10%;
  }
  
  .bottom-shift {
    flex: 1 1 30%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  
    mat-form-field + mat-form-field {
      margin-top: 1rem;
    }
  }
  