<app-dialogue-header [model]="author" (showList)="showList.emit($event)"></app-dialogue-header>
<app-message-body [messages]="messages" (sendMessage)="sendMessage.emit($event)"></app-message-body>
<app-message-add (sendCommand)="sendCommand.emit()" (sendMessage)="sendMessage.emit($event)"></app-message-add>
