<div>Please, rate our conversation
<ngb-rating (rateChange)="onClick($event)">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
    </ng-template>
  </ngb-rating>
  <pre>Rate: <b>{{currentRate || ''}}</b></pre>
</div>