:host {
    display: flex;
    flex-direction: column;
  }
  
  .actions {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
  
    button+button {
      margin: 0 0.5rem;
    }
  }
  